.text__contacts {
	margin: 40px 60px 100px 60px;
}
form {
	margin-bottom: 100px;
}
.textarea__contacts {
	padding: 10px;
	margin: 10px;
	border: solid 2px #eee;

	resize: none;
	width: 100%;
	height: 200px;
	transition: all 0.2s linear;
	&:hover,
	&:focus {
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border: solid 2px #e4ffff;
	}
}
.input__contacts {
  width: 320px;
	padding: 10px;
	margin: 10px;
	border: solid 2px #eee;
	transition: all 0.2s linear;
	&:hover,
	&:focus {
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		border: solid 2px #e4ffff;
	}
}
.btn__contacts {
	padding: 10px;
	margin: 10px;
	border: solid 2px #2a9a9a;
	border-radius: 10px;
	background: #ffffff;
	transition: all 0.1s linear;
	&:hover {
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
		background: #e4ffff;
		color: #2a9a9a;
	}
}
