@import '../variables';

.home {
	&__title {
		margin-top: 40px;
		font-size: 28px;
		font-weight: 500;
		color: $black;
	}
	&__img {
		margin-top: 20px;
		img {
			height: 435px;
			width: 665px;
		}
	}
	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		color: $black;
		margin: 20px 0 100px 0;
	}
}
