@import '../variables';

.sub__bg{
  background: #C5F8FB;
  border-top: 2px solid $black;
  height: 150px;
}
.sub__title{
  margin-top: 20px;
  text-align: center;
  color: $black;
  font-weight: 500;
}
.sub__items{
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 110px);
  column-gap: 40px;
  & .sub__item i{
    font-size: 20px;
    margin-right: 10px;
  }
 .sub__item:hover a{
    text-decoration: underline;
  }
}